*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* ele vai levar em conta as bordas ao posicionar os itens*/
    /* border = 0; no caso excluiria todas as bordas*/
}

html{

    background-color: #fff;
    color: #555;
    font-family: 'Raleway', 'Arial', 'sans-serif';
    font-weight: 300;
    /* Garante que as fontes serão reinderizadas, priorizando a leitura*/
    text-rendering: optimizeLegibility;
    color: #fff;
    font-size: 20px;
}

header{

    height: 100vh; /* vh é tipo porcentagem, mas a porcentagem analiza se há um item pai. Se houver, ele vai levar esse elemento em consideração. o vh leva em consideração o tamanho da tela.*/
    background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.9)), url(img/pizza-fundo.jpg);
    background-size: cover;
    font-size: 25px;
   
    
}

header nav{
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
    align-items: center;
    margin-left: 20px;
}

header .logo{
    width: 100px;
}

header .main-nav{

    display: flex;
    justify-content: space-around;
    width: 90%;
    margin-left: 30%;
    text-transform: uppercase;
    list-style: none;
}

header .main-nav li a:hover{
    border-bottom:solid 2px #fc666d;
    font-weight: bold;
}


header h1{
    margin: 0;
    font-weight: 10;
    text-transform: uppercase;
    word-spacing: 15px;
    letter-spacing: 4px;
}

header a {
    text-decoration: none;
    color: white;
}


.hero-text-box{

    position: absolute;
    top: 40%;
    left: 4%;
}

.btn:link,
.btn.visited{
    font-size: 18px;
   /* border: solid 1px #fcb369;*/
    border-radius: 20px;
    padding: 10px 25px;
    margin-right: 10px;
    transition:background-color 0.3s, color, 0.3s;
    
}

.btn-full:link,
.btn-full:visited{
    background: linear-gradient(to top right,#ffb567,#fe866c,#fc666d);
   
    
}

.btn-ghost:link,
.btn-ghost:visited{
    color: white;
    transition:background-color 0.3s, color, 0.3s;
}

.btn-full:hover,
.btn-full:active{
    color: #555;
    font-weight: bold;

}

.btn-ghost:hover,
.btn-ghost:active{
    background: linear-gradient(to top right,#ffb567,#fe866c,#fc666d);
    font-weight: bold;
    color: #555;
}